* text=auto
*.json text eol=lf
*.js text eol=lf
*.css text eol=lf
*.html text eol=lf
build/** -text
package-lock.json -text
package.json -text 
prettier.config.js -text 
public/** -text 
src/** -text 
tsconfig.json -text