* text=auto
build/** -text
*.json text eol=lf
*.js text eol=lf
*.css text eol=lf
*.html text eol=lf
package-lock.json -text
package.json -text
prettier.config.js -text
public/** -text
src/** -text
tsconfig.json -text